:root{
    --main-text-color:white;
    --header-bg: #171a20;
    --background-todolist-item: rgba(255, 255, 255, 0.05);
}
.mdl-layout__drawer,
.toolbar {
    background-color: #171a20 !important;
}

#center,
.mdl-layout__content {
    background-color: #1e222b !important;
}

.headerbar-button {
	color: white;
}

#header-carnet i{
	color:white;
}
