
:root{
    --grid-bg: #22252f;
    --note-text-color: white;
    --note-bg: #2f3341;
    --note-bg-hover: #2f3341;
    --loading-view-bg:#22252f;
    --fab-button-bg: #2f3341;
    --fab-color:white;
    --drag-bar-bg: rgb(36, 46, 100);

}
