.demo-card-wide.mdl-card {
    width: 202px;
    min-height:0px;
    margin:5px;
  }
  .demo-card-wide.mdl-card :hover{
    background:#BFBBBB;
  }
  .demo-card-wide > .mdl-card__title {
    color: black;
    
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  
  body {
    background: #fafafa;
    position: relative;
  }
#page-content{
  margin: 0 auto;
}

  
  .card-title{
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    color : black;
    margin:0px;
  }
.mdl-layout__header{
  -webkit-app-region: drag;
}

.mdl-layout__header .mdl-layout__drawer-button,
.mdl-layout__header button,
.mdl-layout__header .mdl-textfield{
  -webkit-app-region:no-drag;
}

.folder-icon{
  width:50px;
}